src/Tracking_API_V1_1_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
#############################################################################################################
#  Description:	Schema for Royal Mail Tracking API Public Facing XSD
#  Revision:    	1.1.1
#  Date: 			15/09/2015
#############################################################################################################
#  History:
#  Version		Date 			Author		                     			Description of Change
#  v0.1			24/06/2013	Somsubhra Bhattacharya(CSC)	Initial Draft
#  v0.2         	29/06/2013    Somsubhra Bhattacharya(CSC)	Modified to correct errors and incorporate latest design
#  v0.3         	13/09/2013    Somsubhra Bhattacharya(CSC) 	As per RM request, changed getItemScaled to getProofOfDelivery
#  v0.4         	17/09/2013    Somsubhra Bhattacharya(CSC) 	Added header and footer text fields for details response.
#  v0.5         	30/09/2013    Somsubhra Bhattacharya(CSC) 	Max no of items/request set to 5 + made tracking number mandatory non-nillable input
#  v0.6         	03/10/2013    Somsubhra Bhattacharya(CSC) 	Amended XSD based on feedback from RM
#  v0.7			18/10/2013	Vaishali Gupta(CSC)				 	Amended as per the changes requested by RM
#  v0.8         	11/11/2013    Somsubhra Bhattacharya(CSC) 	Aligned with WSDL version 0.8
#  v1.0         	15/01/2014    Somsubhra Bhattacharya(CSC) 	Baselined FE XSD for Tracking API 
#  v1.1         	14/05/2014    Somsubhra Bhattacharya(CSC)	Updated XSD to import CDM v2.2
#  v1.1.1		15/09/2015	Mark Cornforth (RMG)				Updated to reference v1.9.1 of the common integration schema	
#############################################################################################################
--><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.royalmailgroup.com/api/track/V1" version="1.1" xmlns:com="http://www.royalmailgroup.com/cm/common/V4" xmlns:dt="http://www.royalmailgroup.com/cm/rmDatatypes/V1" xmlns:int="http://www.royalmailgroup.com/integration/core/V1" xmlns:rd="http://www.royalmailgroup.com/cm/referenceData/V3" xmlns:tns="http://www.royalmailgroup.com/api/track/V1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://www.royalmailgroup.com/integration/core/V1" schemaLocation="CDM/CommonIntegrationSchemaV1_9_1.xsd"/>
	<xs:import namespace="http://www.royalmailgroup.com/cm/rmDatatypes/V1" schemaLocation="CDM/DatatypesV2_2.xsd"/>
	<xs:import namespace="http://www.royalmailgroup.com/cm/common/V4" schemaLocation="CDM/CommonClassesV2_2.xsd"/>
	<xs:import namespace="http://www.royalmailgroup.com/cm/referenceData/V3" schemaLocation="CDM/ReferenceDataV2_2.xsd"/>
	<xs:element name="getSingleItemHistoryRequest" type="tns:getSingleItemHistoryRequest"/>
	<xs:element name="getSingleItemHistoryResponse" type="tns:getSingleItemHistoryResponse"/>
	<xs:element name="getSingleItemSummaryRequest" type="tns:getSingleItemSummaryRequest"/>
	<xs:element name="getSingleItemSummaryResponse" type="tns:getSingleItemSummaryResponse"/>
	<xs:element name="getMultiItemSummaryRequest" type="tns:getMultiItemSummaryRequest"/>
	<xs:element name="getMultiItemSummaryResponse" type="tns:getMultiItemSummaryResponse"/>
	<xs:element name="getProofOfDeliveryRequest" type="tns:getProofOfDeliveryRequest"/>
	<xs:element name="getProofOfDeliveryResponse" type="tns:getProofOfDeliveryResponse"/>
	<xs:element name="exceptionDetails" type="tns:exceptionDetails"/>
	<xs:simpleType name="trackingNumber">
		<xs:restriction base="dt:identifier">
			<xs:pattern value="([a-zA-Z]{2}[0-9]{9}[a-zA-Z]{2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TrackDetail">
		<xs:sequence>
			<xs:element minOccurs="0" name="trackDate" nillable="true" type="dt:date"/>
			<xs:element minOccurs="0" name="trackPoint" nillable="true" type="dt:identifier"/>
			<xs:element minOccurs="0" name="trackTime" nillable="true" type="dt:time"/>
			<xs:element minOccurs="0" name="header" nillable="true" type="dt:identifier"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="footer" nillable="true" type="tns:footer"/>
			<xs:element minOccurs="0" name="podMessage" nillable="true" type="dt:identifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="footer">
		<xs:sequence>
			<xs:element minOccurs="0" name="footerID" nillable="true" type="dt:identifier"/>
			<xs:element minOccurs="0" name="footerText" nillable="true" type="dt:identifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="trackingNumbers">
		<xs:sequence>
			<xs:element maxOccurs="5" minOccurs="1" name="trackingNumber" type="tns:trackingNumber"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="itemSummaries">
		<xs:sequence>
			<xs:element maxOccurs="5" minOccurs="1" name="itemSummary" type="tns:ItemSummary"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ItemSummary">
		<xs:sequence>
			<xs:element minOccurs="0" name="eventDate" nillable="true" type="dt:date"/>
			<xs:element minOccurs="0" name="eventTime" nillable="true" type="dt:time"/>
			<xs:element minOccurs="0" name="statusCode" nillable="true" type="rd:referenceDataType"/>
			<xs:element minOccurs="0" name="summaryLine" nillable="true" type="dt:description"/>
			<xs:element minOccurs="1" name="trackingNumber" type="dt:identifier"/>
			<xs:element minOccurs="0" name="header" nillable="true" type="dt:identifier"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="footer" nillable="true" type="tns:footer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WSImageResponse">
		<xs:sequence>
			<xs:element minOccurs="0" name="height" type="com:dimension"/>
			<xs:element minOccurs="0" name="image" nillable="true" type="dt:document"/>
			<xs:element minOccurs="0" name="printedName" nillable="true" type="dt:identifier"/>
			<xs:element minOccurs="0" name="signatureTime" nillable="true" type="dt:dateTime"/>
			<xs:element minOccurs="1" name="trackingNumber" type="dt:identifier"/>
			<xs:element minOccurs="0" name="width" type="com:dimension"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="getSingleItemHistoryRequest">
		<xs:sequence>
			<xs:element name="integrationHeader" type="int:integrationHeader"/>
			<xs:element minOccurs="1" name="trackingNumber" type="tns:trackingNumber"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="getSingleItemHistoryResponse">
		<xs:sequence>
			<xs:element name="integrationHeader" type="int:integrationHeader"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="trackDetail" type="tns:TrackDetail"/>
			<xs:element maxOccurs="1" minOccurs="0" name="integrationFooter" type="int:integrationFooter"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="getSingleItemSummaryRequest">
		<xs:sequence>
			<xs:element name="integrationHeader" type="int:integrationHeader"/>
			<xs:element minOccurs="1" name="trackingNumber" type="tns:trackingNumber"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="getSingleItemSummaryResponse">
		<xs:sequence>
			<xs:element name="integrationHeader" type="int:integrationHeader"/>
			<xs:element minOccurs="0" name="itemSummary" type="tns:ItemSummary"/>
			<xs:element maxOccurs="1" minOccurs="0" name="integrationFooter" type="int:integrationFooter"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="getMultiItemSummaryRequest">
		<xs:sequence>
			<xs:element name="integrationHeader" type="int:integrationHeader"/>
			<xs:element minOccurs="1" name="trackingNumbers" type="tns:trackingNumbers"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="getMultiItemSummaryResponse">
		<xs:sequence>
			<xs:element name="integrationHeader" type="int:integrationHeader"/>
			<xs:element minOccurs="0" name="itemSummaries" type="tns:itemSummaries"/>
			<xs:element maxOccurs="1" minOccurs="0" name="integrationFooter" type="int:integrationFooter"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="getProofOfDeliveryRequest">
		<xs:sequence>
			<xs:element name="integrationHeader" type="int:integrationHeader"/>
			<xs:element minOccurs="1" name="trackingNumber" type="tns:trackingNumber"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="getProofOfDeliveryResponse">
		<xs:sequence>
			<xs:element name="integrationHeader" type="int:integrationHeader"/>
			<xs:element minOccurs="0" name="wSImageResponse" type="tns:WSImageResponse"/>
			<xs:element maxOccurs="1" minOccurs="0" name="integrationFooter" type="int:integrationFooter"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="exceptionDetails">
		<xs:annotation>
			<xs:documentation>Fault reporting structure</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="exceptionTransactionId" type="int:transactionId"/>
			<xs:element name="exceptionCode" type="int:errorCode"/>
			<xs:element name="exceptionText" type="dt:description"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>